package pages

import "github.com/araihu/goshtoso-app-shells/componentdocshell"

type Page interface {
	templ.Component
}

templ layout(title string, active string, content templ.Component, fragment bool) {
	if fragment {
		@componentdocshell.Fragment(shellConfig(), shellPage(title, active, content))
	} else {
		@componentdocshell.Layout(shellConfig(), shellPage(title, active, content))
	}
}
