package pages

import "github.com/araihu/goshtoso-app-shells/catalogshell"

type Page interface {
	templ.Component
}

templ layout(title string, active string, content templ.Component, fragment bool) {
	if fragment {
		@catalogshell.Fragment(shellConfig(), shellPage(title, active, content))
	} else {
		@catalogshell.Layout(shellConfig(), shellPage(title, active, content))
	}
}
